In [1]:
#text file , Excel files, XML files,json files

# to read text files

In [2]:
#syntax
#variable_to_store_file=open(r"path","module")

# "r":read mode()

In [4]:
file=open(r"C:\Users\admin\Desktop\file_operations.txt,"r")
file.read()
file.close()

# "w":write mode()

In [5]:
file=open(r"C:\Users\admin\Desktop\file_operations.txt,"w")
file.write("hello")
file.close()

In [6]:
file=open(r"C:\Users\admin\Desktop\file_operations.txt","w")
file.write("my name is  ankit patil")
file.close()

In [8]:
file=open(r"C:\Users\admin\Desktop\file_operations.txt","w")
file.write("i am from mp")
file.close()

In [11]:
file=open(r"C:\Users\admin\Desktop\file_operations.txt","w")
file.write("i am a python developer")
file.close()

In [12]:
New=open(r"C:\Users\admin\Desktop\Ankit.txt","w")
New.write("\I am python developer")
New.close()

# "a":append()

In [13]:
New=open(r"C:\Users\admin\Desktop\Ankit.txt","a")
New.write("I am  learning File operations")

New.close()

# "r+":read and write mode()

In [16]:
New=open(r"C:\Users\admin\Desktop\Ankit.txt","r+")
New.write("i am from MP")

New.close()

In [17]:
with open(r"C:\Users\admin\Desktop\Ankit.txt","r+") as a:
    a.write("hii")

In [19]:
l=["This is Pune\n","This is nagpur\n","This is Mumbai\n"]

In [20]:
with open(r"C:\Users\admin\Desktop\file_operations.txt","w") as a:
    a.writelines(l)

# TOP READ EXCEL FILES IN PYTHON

# pandas module()

In [27]:
import pandas as pd
data=pd.read_excel(r"C:\Users\admin\Desktop\New folder\Excel Sample Data.xlsx")
data

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

In [33]:
data=pd.read_csv(r"‪C:\Users\admin\Desktop\sarthak floder\pyana file\FitBit data.csv")

OSError: [Errno 22] Invalid argument: '\u202aC:\\Users\\admin\\Desktop\\sarthak floder\\pyana file\\FitBit data.csv'

In [34]:
data

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

In [35]:
data=pd.read_csv(r"C:\Users\admin\Desktop\sarthak floder\pyana file\Placement.csv")

data

,name of company,college name,region,year,Salary
0,XORIANT,XAVIER INSTITUTE OF ENGINEERING,MUMBAI,2018,657673
1,XORIANT,INDIRA COLLEGE OF ENGINEERING AND MANAGEMENT,PUNE,2018,657673
2,XORIANT,VISHWAKARMA INSTITUTE OF TECHNOLOGY,PUNE,2018,446973
3,QUINNOX,PILLAI COLLEGE OF ENGINEERING,NAVI MUMBAI,2018,446973
4,QUINNOX,THAKUR COLLEGE OF ENGINEERING AND TECHNOLOGY,MUMBAI,2018,446973
...,...,...,...,...,...
457,ARK TECHNOSOLUTIONS,THAKUR COLLEGE OF ENGINEERING AND TECHNOLOGY,MUMBAI,2018,1141263
458,ACCOLITE,K. J. SOMAIYA COLLEGE OF ENGINEERING,MUMBAI,2018,1141263
459,ACCOLITE,PUNE INSTITUTE OF COMPUTER TECHNOLOGY,PUNE,2016,1141263
460,ACCOLITE,PUNE INSTITUTE OF COMPUTER TECHNOLOGY,PUNE,2017,1141263
461,ACCOLITE,PUNE INSTITUTE OF COMPUTER TECHNOLOGY,PUNE,2018,132900